body::-webkit-scrollbar {
  width: scrollbarwidthpx;
}

.weather-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100vw - scrollbarwidthpx);
    height: 100vh;
}

.loader {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.loader img {
  width: 100px;
  height: 100px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.weather-page.rain, .weather-page.snow {
  background-color: #CAE7FD;
}

.weather-page.sun, .weather-page.clear {
  background-color: #FDCBCA;
}

.weather-page.clouds, .weather-page.fog, .weather-page.dust, .weather-page.mist {
  background-color: #CAF0C0;
}