body::-webkit-scrollbar {
  width: scrollbarwidthpx;
}

.weather-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  .content-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: flex-end;
    align-self: self-end;
    top: 90px;
    right: 80px;
    z-index: 3;
  }
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader img {
  width: 100px;
  height: 100px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

.weather-page.rain,
.weather-page.snow {
  background-color: var(--light-blue);
}

.weather-page.sun,
.weather-page.clear {
  background-color: var(--light-orange);
}

.weather-page.clouds,
.weather-page.fog,
.weather-page.dust,
.weather-page.mist {
  background-color: var(--light-green);
}
