@import url('../../shared/assets/fonts/fonts.css');

.additional-info {
  text-align: left;
  margin-bottom: 40px;

  .title {
    font-family: Circe-medium, sans-serif;
    font-size: 16px;
  }

  .rain,
  .snow {
    color: var(--blue);
  }

  .sun,
  .clear {
    color: var(--orange);
  }

  .clouds,
  .fog,
  .dust,
  .mist {
    color: var(--green);
  }

  .rain-light,
  .snow-light {
    color: var(--light-blue);
  }

  .sun-light,
  .clear-light {
    color: var(--light-orange);
  }

  .clouds-light,
  .fog-light,
  .dust-light,
  .mist-light {
    color: var(--light-green);
  }

  .value {
    font-family: Oddval;
    font-size: 16px;
    font-weight: 600;
  }
}
