@import url('../../fonts/fonts.css');

.additional-info {
    text-align: left;
    margin-bottom: 40px;

    .title {
        font-family: Poppins, sans-serif;
        color: #CAE7FD;
        font-size: 16px;
    }

    .value {
        font-family: Oddval;
        font-size: 16px;
        font-weight: 600;
    }
}