.search-bar {
  display: flex;
  width: 285px;
  height: 41px;
  border-radius: 30px;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 80px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.14);

  input {
    width: 228px - 21px;
    border: none;
    outline: none;
    padding: 10px 0 10px 21px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
  }

  .vertical-line {
    align-self: center;
  }

  .search-icon {
    width: auto;
    margin: auto 0 auto 14px;
  }
}

.rain,
.snow {
  color: var(--blue);

  input {
    color: var(--blue);

    &::placeholder {
      color: var(--light-blue);
    }
  }

  .vertical-line path,
  .search-icon path {
    stroke: var(--light-blue);
  }
}

.sun,
.clear {
  color: var(--orange);

  input {
    color: var(--orange);

    &::placeholder {
      color: var(--light-orange);
    }
  }

  .vertical-line path,
  .search-icon path {
    stroke: var(--light-orange);
  }
}

.clouds,
.fog,
.dust,
.mist {
  color: var(--green);

  input {
    color: var(--green);

    &::placeholder {
      color: var(--light-green);
    }
  }

  .vertical-line path,
  .search-icon path {
    stroke: var(--light-green);
  }
}
