.search-bar {
  display: flex;
  width: 285px;
  height: 41px;
  border-radius: 30px;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 80px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.14);

  input {
    width: 228px - 21px;
    border: none;
    outline: none;
    padding: 10px 0 10px 21px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 600;
  }

  .vertical-line {
    align-self: center;
  }

  button {
    width: auto;
    margin: auto 0 auto 14px;
  }

  .rain::placeholder,
  .snow::placeholder {
    color: var(--light-blue);
  }

  .rain,
  .snow {
    color: var(--blue);
  }

  .sun::placeholder,
  .clear::placeholder {
    color: var(--light-orange);
  }

  .sun,
  .clear {
    color: var(--orange);
  }

  .clouds::placeholder,
  .fog::placeholder,
  .dust::placeholder,
  .mist::placeholder {
    color: var(--light-green);
  }

  .clouds,
  .fog,
  .dust,
  .mist {
    color: var(--green);
  }
}
