.nav-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 21px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;

  .logo-link {
    z-index: 1;
  }

  .search-bar {
    z-index: 1;
  }
}
