body::-webkit-scrollbar {
  width: scrollbarwidthpx;
}

@media screen and (min-width: 1240px) and (min-height: 700px) {
  .background-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: absolute;

    .background-image {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
    }

    .background-image.loaded {
      opacity: 1;
    }

    .rain-character {
      position: absolute;
      height: 615px;
      left: 7.5%;
      top: 80px;
    }

    .blob {
      width: 231px;
      height: 231px;
      position: absolute;

      path {
        fill: var(--light-blue);
      }
    }

    .rain-1 {
      bottom: -80px;
      left: 0;
    }

    .rain-2 {
      top: 424px;
      left: 437px;
    }

    .rain-3 {
      top: 170px;
      left: 437px;
    }

    .rain-4 {
      top: 170px;
      left: 698px;
    }

    .rain-5 {
      top: -84px;
      left: 648px;
    }

    .rain-6 {
      top: 170px;
      right: -76px;
    }

    .clouds {
      width: 826px;
      height: 611px;
      position: absolute;
      top: 85px;
      left: 20vw;

      circle {
        fill: var(--light-green);
      }
    }

    .clouds-character {
      height: 800px;
      position: absolute;
      top: 0px;
      left: 110px;
    }

    .sun {
      width: 590px;
      height: 590px;
      position: absolute;
      top: 100px;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 50%;
      background-color: var(--light-orange);
    }

    .sun-character {
      width: 719px;
      height: 719px;
      position: absolute;
      top: 40px;
      left: 106px;
    }

    .snow {
      position: absolute;

      path {
        fill: var(--light-blue);
      }
    }

    .snow-1 {
      top: 120.5px;
      left: 100px;
      width: 288px;
      height: 293px;
    }

    .snow-2 {
      top: 260px;
      left: 528px;
      width: 174px;
      height: 177px;
    }

    .snow-3 {
      top: 473px;
      left: 347px;
      width: 164px;
      height: 162px;
    }

    .snow-4 {
      top: 518px;
      left: 605px;
      width: 140px;
      height: 142px;
    }

    .snow-character {
      height: 700px;
      position: absolute;
      top: 40px;
      left: 250px;
    }
  }

  .background-container.white {
    .blob,
    .snow {
      path {
        fill: var(--white);
      }
    }

    .clouds {
      circle {
        fill: var(--white);
      }
    }

    .sun {
      background-color: var(--white);
    }
  }
}

@media screen and (min-width: 1240px) and (min-height: 900px) {
  .background-container {
    .sun-character {
      width: 850px;
      height: 850px;
      top: 10vh;
    }

    .clouds-character {
      height: 950px;
    }

    .rain-character {
      position: absolute;
      height: 790px;
      left: 7.5%;
    }

    .snow-character {
      height: 900px;
      position: absolute;
      top: 70px;
      left: 300px;
    }

    .sun {
      width: 750px;
      height: 750px;
      top: 133px;
    }

    .clouds {
      width: 950px;
      height: 850px;
    }
  }
}
