body::-webkit-scrollbar {
    width: scrollbarwidthpx;
}

.background-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .rain-character {
        position: absolute;
        width: 615px;
        height: 615px;
        left: 7.5%;
        top: 132px;
    }

    .blob {
        width: 231px;
        height: 231px;
        position: absolute;
    }

    .rain-1 {
        bottom: -80px;
        left: 0;
    }

    .rain-2 {
        top: 424px;
        left: 437px;
    }

    .rain-3 {
        top: 170px;
        left: 437px;
    }

    .rain-4 {
        top: 170px;
        left: 698px;
    }

    .rain-5 {
        top: -84px;
        left: 648px;
    }

    .rain-6 {
        top: 170px;
        right: -76px;
    }
}